<div class="jumbotron">
  
  <h1 class="display-4 text-white text-center">{{ content.field_banner_title }}</h1>

  <span class="text-white text-center">{{ content.field_banner_subtitle }}</span>
  <hr class="my-4">
  <span class="text-white text-center">{{ content.field_banner_para }}</span>
 
   
  <div class="text-center ">
  <button type="button" href="#" role="button" class=" btn btn-outline-primary center-align">Get Started</button>
</div>
    
</div>