<div class="page-section">
    <div class="container">
      <div class="text-center">
        <h2 class="title-section mb-3">{{ content.field_form_subhead }}</h2>
        <p>{{ content.field_form_title }}</p>
      </div>
      <div class="row justify-content-center mt-5">
        <div class="col-lg-8">
          <form action="#" class="form-contact">
            <div class="row">
            {{ content.field_revetive_form }}
            </div>
          </form>
        </div>
      </div>
    </div> 
  </div>